/* start navbar style */
#nav-logo{
    font-size: 1.5em;
    color: #fff;
    text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
}
#nav-search-btn{
    color: #fff;
    background-color: #02AAED;
    transition: all 0.5s;
}
#nav-search:hover{
    transform:scale(1.05);
}
/* end navbar style */
.hide{
    display: none;
}
.show{
    width: 80%;
    margin:0 auto;
}
.card-bsale{
    transition: all 0.5s;
}
.card-bsale:hover{
    transform: scale(1.02);
    border-color: #FF5C1A;
}